#page-overlay {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.8);
    z-index: 999;
}

#popup {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 800px;
    height: 600px;
    border: 5px solid rgb(90,90,90);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

#result {
    margin: 25px 0px 40px 0px;
}

#btn-gradcam {
    margin: 10px 0px 30px 0px;
}

.crop-wrapper {
	background-color:rgba(255,255,255,1);
	position:relative;
	width:100%;
	height:87%;
	overflow:hidden;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
	position:absolute;
	cursor:move;
	background-color:rgba(5,255,5,0);
	z-index:1000;
	width:100%;
	height:100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0,0,0,.9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.overlay {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
    margin-top: -150px;
    margin-bottom: -150px;
    margin-right: -150px;
	z-index: 999;
	width: 320px;
	height: 240px;
    border: solid 2px rgba(222,222,222,.9);
	box-sizing: content-box;
	pointer-events: none;
}

.overlay-inner{
    right: 0;
	left: 0;
	margin-left: -40px;
    margin-top: -2px;
}

.btn-crop img {
	vertical-align: middle;
	margin-left: 8px;
}

.uploading-result-section {
    margin-top: 25px;
    width: 75%;
    height: 100%;
    position: relative;
    float: left;
}

.img-preview {
    width: 320px;
    height: 240px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 320px 240px;
    background-repeat: no-repeat;
    background-position: center;
}

.gradcam-preview {
    width: 500px;
    height: 550px;
    position: relative;
}

.gradcam-preview>div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gradcamOutput{
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    width: 320px;
}

.recent-photos {
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
}

.gallery {
  margin: 5px;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #3D5A80;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #fff;
}

.loader {
    margin: 10px 0px 10px 0px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.btn {
	border-radius: 0;
	border: none;
	display: inline-block;
    padding: 12px 30px;
    background: #3D5A80;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active {
	border-radius: 0;
	border: none;
	background: #3D5A80;
    color: #fff;
}

.blur {
  opacity: 0.5;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}