{% extends "base.html" %} {% block content %}

<div id="page-overlay">
    <div id="popup">
        <button class="btn crop">
            <a href="javascript:blurFunction(0, 0);">Crop</a>
        </button>
			<div class="crop-wrapper">
				<div class="overlay">
					<div class="overlay-inner">
					</div>
				</div>
				<img class="resize-image" src="" alt="Resizable image">
			</div>
    </div>
</div>

<h2>Image Classifier</h2>

<div>
    <div id="main-page">
    <div class="uploading-result-section">
        <form id="upload-file">
            <label for="imageUpload" class="upload-label">
                Upload
            </label>
            <input type="file" name="file" id="imageUpload" accept=".bmp, .png, .jpg, .jpeg">
        </form>

		<div class="image-section" style="display:none;">
            <div class="img-preview">
                <div id="imagePreview"> </div>
            </div>
            <div>
                <button type="button" class="btn" id="btn-predict">Predict</button>
            </div>
        </div>

        <div class="loader" style="display:none;"></div>

        <h3 id="result">
            <span> </span>
        </h3>
    </div>
    <div class="recent-photos">
        <div class="gallery">
            <img src="/static/default_pictures/010A0012_0_0_0.BMP" alt="Aham" width="320" height="240">
        </div>
        <div class="gallery">
            <img src="/static/default_pictures/010B0001_0_0_0.BMP" alt="Achh" width="320" height="240">
        </div>
        <div class="gallery">
            <img src="/static/default_pictures/010D0013_1_0_0.BMP" alt="UUU" width="320" height="240">
        </div>
    </div>
    </div>

</div>

{% endblock %}
